
.box-1{   
   width: 600px;
   height: 200px;
   background-color:red;
}
.box-11{
   width: 100px;
   height: 100px;
   background-color: grey;
}
.box-2{
   width: 300px;
   height: 400px;
   background-color:blue;
}
.box-22{
   width: 100px;
   height: 250px;
   background-color: grey;

}